@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    background-color: #000;
    color: #fff;
}

#sales{
    padding: 40px 10px;
}

.dsmeta-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}