@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

body, html{
    background-color: #000;
    color: #fff;
}